.flores-2{
    margin-left: 500px;
    margin-top: -350px;
    width: 600px;
    height: 400px;
}

.boton{
    margin-left: 960px;
}

.flores-3{
    margin-left: 500px;
    margin-top: -370px;
    width: 550px;
    height: 450px;
}
.texto{
    padding:100px;
    background-color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cuenta{
    margin-top: 200px;
}
